//primary button
.primary-button {
  border-radius: 8px;
  border: 1px solid #397CFF;
  background: #397CFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 16px 28px;
  color: var(--base-white, #FFF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
}
.primary-button--transparent{
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--base-white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--gray-700, #344054);
}


@media(max-width: 769px){
  .primary-button{
    font-size: 16px;
    gap: 8px;
    padding: 9px 15px;
    svg{
      max-height: 20px;
    }
  }
}