.complited-line{
    min-height: 135px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .line{
        max-width: 1000px;
        width: 100%;
        border-radius: 100px;
        background: #EAECF0;
        min-height: 19px;
        position: relative;
        .finished{
            border-radius: 100px;
            background: #2CA851;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}

@media(max-width: 768px){
    .complited-line{
        min-height: unset;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        min-height: 80px;
        gap: 10px;
        svg{
            max-width: 15px;
        }
    }   
}